.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 10px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-left {
    top: 0px;  /*up and down*/
    left: 0px;
}

.ribbon-top-left span {
    right: 0px;
    top: 15px; /*thickness*/
    transform: rotate(-45deg);
}


.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
}

a:link {
    text-decoration: none;
    /* Todo: link color do not work*/
    color: black;
}

span{
    color: black;
}

h4{
    color: black;
}

h5{
    color: black;
}